/*
Title: html Styles
by: Mark Thompson

*/
html{
	background: #dbdbdb;
}
body{
	font-style: regular;
	font-family: Tahoma, Andale Mono, Trebuchet;
	width: auto;
	margin: auto;	
}
h1 {

	width: 400px;
	margin-top:-16px;
	text-align: center;
	border: 1px solid #bdbdbd;
	color: #ffffff;
	padding: 10px;
	background: #165594;
	border-radius:15px;
	margin-bottom: 7px;
}
form{
	width: 400px;
	margin-top:0px;
	font-size: 15px;
	padding: 10px;
	border: 1px solid #0000ff;
	background: #ffffff;
	height: 480px;
}
h2 {
	color:#ffffff;
	background: #2554C7;	
}
p{
	padding: 10px;
}
a{
	color:#F62217;
}
#dealz{
	margin: 0 auto;
	width:410px;
}
#dname{
	margin-left: 37px;
}

#favoriteDeal{
	margin-left: 8px;
}
#url{
	margin-left: 20px;
}
#hotDeal{
clear:both;
	float:left;
}
#rangeBar{
	margin:2px 0 0 7px;
	float:left;
}
#favoriteDeal{
	margin-top: 10px;
	margin-left: -270px;
	clear:both;
}
#exDate2{
	width: 270px;
}
#exDate{
	margin-left: 0px;
}


#aNotes{
	margin-top: -15px;
}

#notes1{
	float:left;
	margin-top: 28px;
}

#notes{
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: 30px;
	float:left;
	margin-top: 30px;
}
#sub{
	float:left;
	margin:-46px 0 0 305px;
}