/*
Title: html Styles
by: Mark Thompson
*/
html{
	background: #dbdbdb;
}
body{
	font-style: regular;
	font-family: Arial, Andale Mono, Trebuchet;
	width: auto;
	margin: auto;	
	font-size: 20px;
}
h1{
	width: 400px;
	margin-top: -10px;
	text-align: center;
	border: 2px solid #bdbdbd;
	color: #ffffff;
	text-shadow: #858585 0 1px 0, #858585 0 -1px 0;
	padding: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#8B7D6B), to(#A3937D), color-stop(.6, #BAA78F));
	border-radius: 5px;
	margin-bottom: 0px;
}
form{
	width: 402px;
	margin-top: 0px;
	font-size: 20px;
	padding: 10px;
	border: 1px solid #323232;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#eeeeee), to(#B3B3B3));
	height: 625px;
}
h2{
	color: #323232;
	margin-top: -15px;
}
#favoriteDeal{
	margin-right: 230px;
	margin-top: 6px;
	float: right;
}
li{
	margin-left: -15px;
}
ul, li{
    list-style-type: none;
}
p{
	padding: 10px;
}
a{
	color:#F62217;
}
#dealType{
	float: right;
	margin-right: 22px;
	margin-top: -6px;
}
#dealz{
	margin: 0 auto;
	width: 409px;
}
label{ 
	display: block;
}
#dname{
	font-size: 20px;
	width: 330px;
}
#url{
	font-size: 20px;
	width: 330px;
}
#exDate2{
	width: 270px;
}
#exDate{
	margin-left: 0px;
}
#notes1{
	float: left;
	margin-top: 20px;
}
#notes{
	font-size: 20px;
	width: 345px;
	height: 80px;
	float: left;
}
#submit{
	float: right;
	margin-top: 25px;
	margin-right: 25px;
	font-size: 18px;
}
a{
	color: #633C3C;
	margin-bottom: 7px;
}
