/*
Launch page style
Mark Thompson
*/
body{
	font-style: regular;
	font-family: century gothic, Myriad Pro, sans-serif;
	width: auto;
	margin-left: 20px;	
	font-size: 16px;
	color: #666666;
	background-image:url('images/woodbg.png');
}
#header{
	background-color:#ffffff;
	width:818px;
}
#crud{
	background-color:#ffffff;
	padding-left:20px;
	height:300px;
	width:400px;
	float:left;
}
h2{
	color: #4D4D4D;
}
#content{
	background-color: #ffffff;
	height:300px;
	width: 400px;
	float:left;
}
#native{
	background:#ffffff;
	padding:20px;
	height:200px;
	width:779px;
	float:left;
}
#revised,#original{
	float:left;
	margin-bottom:20px;
}
p{
	margin-top: -20px;
}
a{
	color:#DF7401;
}

}
#original{
	margin-right: 20px;
}
p{
	margin-bottom: 0px;
}
#footer{
	width:818px;
	clear:both;
	background: #666666;
	color:#ffffff;
}
