/*
Title: html Styles
by: Mark Thompson
*/
html{
	background: #565655;
}
body{
	font-style: regular;
	font-family: Arial, Andale Mono, Trebuchet;
	width: auto;
	margin: auto;	
	font-size: 20px;
}
h1{
	width: auto;
	margin-top: -6px;
	text-align: left;
	color: #ffffff;
	text-shadow: #858585 0 1px 0, #858585 0 -1px 0;
	padding: 4px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#405200), to(#002100));
	margin-bottom: 0px;
}
#search{
	width: 260px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#categories{
	background: #F5F5F5;
	padding: 10px;
}
#manDealsCTA{
	width: 320px;
	height: 110px;
}
#autoButton, #entButton, #groomingButton{
	width: 300px;
}
#cta{
	margin-bottom: -10px;
}
form{
	width: 402px;
	margin-top: 0px;
	font-size: 20px;
	padding: 10px;
	border: 1px solid #323232;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#eeeeee), to(#B3B3B3));
	height: 625px;
}
h2{
	color: #323232;
	margin-top: -15px;
}
#favoriteDeal{
	margin-right: 230px;
	margin-top: 6px;
	float: right;
}
li{
	margin-left: -15px;
}
ul, li{
    list-style-type: none;
}
a{
	color:#F62217;
}
#dealType{
	float: right;
	margin-right: 22px;
	margin-top: -6px;
}
#dealz{
	margin: 0 auto;
	width: 409px;
}
label{ 
	display: block;
}
#searchButton{
	float: right;
	margin-right: -55px;
	margin-top: -26px;
}
#dname{
	font-size: 20px;
	width: 330px;
}
#url{
	font-size: 20px;
	width: 330px;
}
#exDate2{
	width: 270px;
}
#exDate{
	margin-left: 0px;
}
#notes1{
	float: left;
	margin-top: 20px;
}
#notes{
	font-size: 20px;
	width: 345px;
	height: 80px;
	float: left;
}
#submit{
	float: right;
	margin-top: 25px;
	margin-right: 25px;
	font-size: 18px;
}
a{
	color: #633C3C;
	margin-bottom: 7px;
}
