/*
Title: html Styles
by: Mark Thompson
*/

body{
	background-image:url('images/mandealsbackground.png');
	font-style: regular;
	font-family: Arial, Andale Mono, Trebuchet;
	width: auto;
	margin: auto;	
	font-size: 20px;
}
h1{
	margin: 8px 0 -10px 8px;
}
#search{
	margin-left: 4px;
	width: 247px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#manDealsCTA{
	margin-bottom: -6px;
	margin-left: 7px;
}
#categories{
	margin-left: 9px;
}
#autoButton, #entButton, #groomingButton{	
	width: 300px;
	margin-top: -4px;
}
form{
	width: auto;
	margin-top: 8px;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #323232;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#eeeeee), to(#B3B3B3));
	height: 625px;
}
h2{
	color: #323232;
	margin-top: -15px;
}
#favoriteDeal{
	margin-top: 6px;
}
li{
	margin-left: -15px;
}
ul, li{
    list-style-type: none;
}
a{
	color:#F62217;
}
#dealType{
	float: right;
	margin-top: -6px;
}
label{ 
	display: block;
}
#searchButton{
	float: right;
	margin-right: -60px;
	margin-top: -26px;
}
#dname{
	font-size: 14px;
	width: 250px;
}
#url{
	font-size: 14px;
	width: 250px;
}
#exDate2{
	width: 270px;
}
#exDate{
	margin-left: 0px;
}
#notes1{
	float: left;
	margin-top: 20px;
}
#notes{
	font-size: 14px;
	width: 260px;
	height: 80px;
	float: left;
}
#submit{
	float: right;
	margin-top: 25px;
	font-size: 15px;
}
a{
	color: #633C3C;
	margin-bottom: 7px;
}
